
<header class="nav">
    <div class="nav__logo">
        <a href="/">RB</a>
    </div>

    <nav class="nav__links">
        <ul class="nav__group__left">
            <li class="nav__item">
                <a href="/courses">Courses</a>
            </li>
            <li class="nav__item">
                <a href="/admin/add-product">Add new</a>
            </li>
            <li class="nav__item">
                <a href="/admin/products">Admin courses</a>
            </li>
            <li class="nav__item">
                <a href="/orders">Orders</a>
            </li>
        </ul>
        <ul class="nav__group__right">
            <li class="nav__item">
                <a href="/cart">Cart</a>
            </li>
        </ul>
    </nav>
</header>