<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="layout">
        <h1 class="title">Your cart</h1>
    </main>
    
</body>

<%- include('../includes/end.ejs') %>